.btn {
    height: auto;
}
.anticon {
    vertical-align: 0;
}
.ant-input {
    @extend .form-control;
}
.ant-form-item-control {
    line-height: inherit;
}
.btn-primary:focus {
    @extend .btn-primary:hover;
}
a:hover {
    text-decoration: none;
}

.ant-menu-item-selected {
    font-weight: 100;
    color: $text-color;
}
.ant-menu-submenu-selected {
    background-color: #00E89D;
}