$font-family-sans-serif: 'Montserrat', sans-serif;

$gray-dark:             #434B65 !default;
$gray-600:              #bfbfbf !default;

$body-bg:               #FAFBFF !default;

$brand-primary:         #0078FF !default;
$brand-success:         #00E89D !default;
$brand-info:            #0092FF !default;
$brand-warning:         #FFAB00 !default;
$brand-danger:          #FF275F !default;
$text-color:            $gray-dark !default;

