.ant-menu-item-selected {
    border-left: 2px solid white;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    box-shadow: initial !important;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
